<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body>
<style>
    body{background-color: #cccccc}
    .card{margin-top: 20px}
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 card card-body">
            <h2>Hello !</h2>
            <p>We receive a request to reset your password for your Smartplug account {{ user.email }}</p>
            <p><a class="btn btn-success" href="{{ url }}">Click here to reset it !</a></p>
            <p>If you didn't ask to change your password, don't worry, your password is still safe !</p>
        </div>
    </div>
</div>
</body>

</html>